* {
  box-sizing: border-box;
}

.container {
  color: #000;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  grid: 8px;
  overflow: hidden;
}

.data-pane,
.setting-pane {
  height: 575px;
}

.data-pane {
  width: 650px;
}

.setting-pane {
  width: 185px;
  border: 1px solid gray;
}

.data-blackboard {
  width: 100%;
  height: 372px;
  padding: 15px;
  border: 1px solid gray;
  margin-bottom: 10px;
}

.data-control {
  width: 100%;
  height: 195px;
  border: 1px solid gray;
}

.black-board {
  background-color: #000;
  width: 100%;
  height: 295px;
  margin-bottom: 10px;
}

.data-item {
  display: flex;
  justify-content: space-between;
}
.data-item span {
  font-weight: bold;
  font-size: 13px;
  color: #000;
}

.data-control .left-pane,
.data-control .right-pane {
  float: left;
  height: 100%;
}

.data-control .left-pane {
  width: 430px;
  font-size: 12px;
}

.data-control .left-pane .group-pane {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.data-control .left-pane .find-pattern {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 23px 21px;
  gap: 17px;
  position: relative;
}
.data-control .left-pane .find-pattern .line {
  position: absolute;
}
.data-control .left-pane .find-pattern .find-button {
  width: 111px;
}
.data-control .left-pane .find-pattern .line {
  width: 20px;
  height: 1px;
  top: 33px;
  position: absolute;
  background-color: #000;
  left: 136px;
}
.data-control .left-pane .find-pattern input[type="text"] {
  width: 247px;
  text-align: center;
}
.data-control .radio-button-group {
  padding: 12px 12px 0 26px;
}

.data-control .radio-button-group p {
  text-align: center;
}

.data-control .radio-button-group .radio-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
}

.data-control .checkbox-group {
  padding: 12px 14px;
}

.data-control .checkbox-group .checkbox-group-item {
  margin-bottom: 7px;
}
.data-control .right-pane {
  width: 215px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
}

.data-control .right-pane button {
  width: 80px;
  height: 25px;
  font-size: 11px;
  padding: 0;
}

.skew-fill {
  padding: 12px;
  display: grid;
  justify-content: space-around;
}
.skew-fill .skew {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
.skew-fill button {
  text-align: center;
  margin-top: 10px;
  height: 24px;
}

.skew-fill .text-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
}

.skew-fill input[type="text"] {
  width: 38px;
  height: 20px;
  text-align: center;
}
/* Adjust the size of the radio button */
input[type="radio"] {
  width: 12px; /* Set width */
  height: 12px; /* Set height */
  margin-right: 5px; /* Optional: Add margin for spacing */
}
input[type="text"] {
  outline: none;
}
